@charset "utf-8";

.c_btn01:hover {
	opacity: 0.8;
	/* color: #0c3380;
	background: #fff; */
}

/* .c_btn01:hover::after {
	border-top: 2px solid #0c3380;
	border-right: 2px solid #0c3380;
	right: 12px;
} */

.c_btn02:hover {
	background: #0094e6;
	color: #ffffff;
}

.c_btn02:hover::before {
	right: 10px;
}

.c_btn02:hover::after {
	right: -2px;
}

.c_btn03:hover {
	color: #3daed2;
	text-shadow: 1px 1px 1px #eee;
}

.c_btn03:hover::after {
	content: "";
	display: block;
	position: absolute;
	right: -2px;
	top: 8px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 15px 0 0 15px;
	border-color: transparent transparent transparent #3daed2;
	-webkit-filter: drop-shadow(1px 1px 1px rgba(238, 238, 238, 0.3));
	filter: drop-shadow(1px 1px 1px rgba(238, 238, 238, 0.3));
}

.c_btn03:hover::before {
	content: "";
	display: block;
	position: absolute;
	background: #3daed2;
	width: 100%;
	height: 2px;
	right: 0;
	bottom: 0;
	box-shadow: 1px 1px 1px rgba(238, 238, 238, 0.3);
}

.c_btn04:hover:after {
	left: 10px;
}

.c_btn05:hover:after {
	opacity: 0.7;
}

.c_btn06:hover {
	color: #fff;
	border-radius: 60% 80%/100% 80%;
}

.c_btn07:hover::before {
	top: 0px;
	left: 0px;
}

.c_btn07:hover span {
	top: 0px;
	left: 0px;
}

.c_btn08:hover:before {
	-webkit-transform: rotate(45deg) translateX(0) translateY(-50%);
	transform: rotate(45deg) translateX(0) translateY(-50%);
}

.c_btn08:hover:after {
	-webkit-transform: rotate(45deg) translateX(0) translateY(50%);
	transform: rotate(45deg) translateX(0) translateY(50%);
}

.c_btn09:hover .lineArrow {
	right: -20px;
}