@charset "UTF-8";

/* ---------------------------------------------------------------------------
  ★共通
--------------------------------------------------------------------------- */

html {
  font-size: 62.5%;
}

body {
  font-size: 3.6vw;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.8;
  font-weight: 500;
  max-width: 100%;
  margin-top: 80px;
}

object {
  pointer-events: none;
}

.sp {
  display: block !important;
}

.pc {
  display: none !important;
}

a {
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}


/* ---------------------------------------------------------------------------
  ★フォントファミリー
--------------------------------------------------------------------------- */

.Df_mincho {
  font-family: 游明朝, "Yu Mincho", YuMincho, "Hiragino Mincho ProN", HGS明朝E, serif;
}

.Df_YuGothic {
  font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", sans-serif;
}

.Df_Roboto {
  font-family: Roboto, sans-serif;
}

.Df_Helvetica {
  font-family: "Helvetica Neue", Helvetica, serif;
}

.Gf_JSa {
  font-family: "Josefin Sans", sans-serif;
}

.Gf_NSJ {
  font-family: "Noto Serif JP", serif;
}

.Gf_CSk {
  font-family: "Cabin Sketch", cursive;
}

.Gf_PDi {
  font-family: "Playfair Display", serif;
}

.Gf_Muk {
  font-family: "Mukta", sans-serif;
}


/* ---------------------------------------------------------------------------
  ★背景
--------------------------------------------------------------------------- */

.bk_gry {
  background: #f3f3f3;
}

.bk_kon {
  background: #0c3380;
}

.bk_kon_str {
  background: #0c3380;
  background-size: auto auto;
  background-color: #1f4692;
  background-image: -webkit-repeating-linear-gradient(315deg, transparent, transparent 15px, #0c3380 15px, #0c3380 30px);
  background-image: repeating-linear-gradient(135deg, transparent, transparent 15px, #0c3380 15px, #0c3380 30px);
}

.bk_lb_str {
  background-size: auto auto;
  background-color: #dcf6fd;
  background-image: -webkit-repeating-linear-gradient(315deg, transparent, transparent 30px, #cef2fc 15px, #cef2fc 60px);
  background-image: repeating-linear-gradient(135deg, transparent, transparent 30px, #cef2fc 15px, #cef2fc 60px);
}

.bk_gr_str {
  background-size: auto auto;
  background-color: #f3f3f3;
  background-image: -webkit-repeating-linear-gradient(315deg, transparent, transparent 25px, #e8e8e8 15px, #e8e8e8 50px);
  background-image: repeating-linear-gradient(135deg, transparent, transparent 25px, #e8e8e8 15px, #e8e8e8 50px);
}

.bk_kon2 {
  background: #032465;
}

.bk_white {
  background: #fff;
}


/* ---------------------------------------------------------------------------
  ★LIST
--------------------------------------------------------------------------- */

.disc {
  margin-left: 20px;
  list-style-type: disc;
}

.disc>li {
  list-style-type: disc;
}

.disc>li:not(:last-child) {
  padding-bottom: 5px;
}

.decimal {
  margin-left: 20px;
  list-style-type: decimal;
}

.decimal>li {
  list-style-type: decimal;
}

.decimal>li:not(:last-child) {
  padding-bottom: 5px;
}

.note {
  font-size: 1.4rem;
}

.note>li {
  padding-left: 20px;
  position: relative;
}

.note>li:not(:last-child) {
  margin-bottom: 5px;
}

.note>li::before {
  display: block;
  content: "※";
  position: absolute;
  left: 0px;
  top: 0;
}


/* ---------------------------------------------------------------------------
  ★BASE
--------------------------------------------------------------------------- */

.small {
  font-size: 85%;
}

main {
  display: block;
  padding: 0px 0 0;
  margin: 0 auto;
}

#wb_wrap {
  overflow: hidden;
}

.parallax {
  width: 100%;
  background-attachment: unset;
  background-position: top center;
  background-repeat: no_repeat;
  background-color: #e6e6e6;
}

.text-shadow {
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.6);
}

.movie_wrap {
  padding: 0 0 56.6%;
  width: 100%;
}

.movie_wrap video {
  position: absolute;
  width: 100%;
  height: 100%;
}

.plmu_wrap {
  position: absolute;
  top: 7%;
  right: 10px;
  z-index: 10;
}

.plmu_wrap #music {
  color: #ffffff;
  display: block;
  width: 30px;
  height: 30px;
  background-image: url(../img/icon_music_on.png);
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  padding-bottom: 50px;
  margin-bottom: 10px;
  position: relative;
  z-index: 1;
}

.plmu_wrap #music span {
  position: absolute;
  bottom: 0%;
  left: 50%;
  -webkit-transform: translateY(0%) translateX(-50%);
  transform: translateY(0%) translateX(-50%);
  font-size: 1.3rem;
}

.plmu_wrap #music::before {
  position: absolute;
  width: 100%;
  height: 1px;
  background: #fff;
  display: block;
  content: "";
  z-index: 2;
  top: 25%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%) rotate(-45deg);
  transform: translateY(-50%) translateX(-50%) rotate(-45deg);
  opacity: 0;
}

.plmu_wrap #music.off::before {
  opacity: 1;
}

.plmu_wrap #play {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid 2px #fff;
  position: relative;
}

.plmu_wrap #play::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 0 8px 12px;
  border-color: transparent transparent transparent #ffffff;
  position: absolute;
  top: 50%;
  left: 59%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}

.plmu_wrap #play.off::before {
  border: 0px;
  content: "";
  display: block;
  width: 4px;
  height: 12px;
  border-right: solid 3px #fff;
  border-left: solid 3px #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}

.plmu_wrap .plmu_wrap .plmu_wrap #play .plmu_wrap #play.off::before {
  border: 0px;
  content: "";
  display: block;
  width: 4px;
  height: 12px;
  border-right: solid 3px #fff;
  border-left: solid 3px #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}

.yt_wrap {
  padding: 0 0 66.6%;
  width: 100%;
}

.gmap_wrap {
  padding: 0 0 55%;
  width: 100%;
}

.iframe_wrap {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.iframe_wrap iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

.sToggle dl>dd {
  display: none;
}

.plus_wrap {
  position: absolute;
  right: 10px;
  width: 10px;
  content: "";
  display: block;
  height: 10px;
  top: -5px;
  bottom: 0;
  margin: auto;
}

.plus_wrap span {
  content: "";
  display: block;
  width: 10px;
  height: 2px;
  background-color: #1b1d25;
  top: 50%;
  bottom: 0;
  position: absolute;
  margin: 0;
}

.pl02 {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
}

.togg .pl02 {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
}


/* ---------------------------------------------------------------------------
  ★タイトル
--------------------------------------------------------------------------- */

.tit02 {
  text-align: center;
  font-family: "Noto Serif JP", serif;
  margin: 0 auto 35px;
}

.tit02 b {
  font-size: 5rem;
  line-height: 1.5;
  letter-spacing: 2px;
  display: inline-block;
  position: relative;
}

.tit02 span {
  color: #8c8c8c;
  font-size: 3.6vw;
  display: block;
  line-height: 1;
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", cursive, sans-serif, serif;
}

.txt_shinfo {
  position: relative;
}

.txt_shinfo>small {
  position: absolute;
  top: -22px;
  left: 0;
  font-size: 41%;
  word-break: keep-all;
}


/* ---------------------------------------------------------------------------
  ★テキスト
--------------------------------------------------------------------------- */

.color_red {
  color: red !important;
}

.color_blue {
  color: blue !important;
}

.color_white {
  color: white !important;
}

.color_black {
  color: black !important;
}


/* ---------------------------------------------------------------------------
  ★アニメーション
--------------------------------------------------------------------------- */

.effectFU {
  overflow: hidden;
  display: block;
}

.effectFU>div.efdiv {
  overflow: hidden;
  position: relative;
  display: block;
  width: 100%;
  -webkit-transform: translate3d(-100.5%, 0, 0);
  transform: translate3d(-100.5%, 0, 0);
  -webkit-transform-origin: left;
  transform-origin: left;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.effectFU>div.efdiv::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-color: #f3f3f3;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: right;
  transform-origin: right;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.effectFU.isShow>div.efdiv {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.effectFU.isShow>div.efdiv::before {
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}

@-webkit-keyframes fadeInUp2 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp2 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp2 {
  -webkit-animation-name: fadeInUp2;
  animation-name: fadeInUp2;
}

.Onfade.isShow {
  -webkit-animation-name: fadeInUp2;
  animation-name: fadeInUp2;
}

@-webkit-keyframes fadesin {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@keyframes fadesin {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}


/* ---------------------------------------------------------------------------
  ★ヘッダー
--------------------------------------------------------------------------- */

#hnav_area {
  background: #000;
}


/* ---------------------------------------------------------------------------
  ★ハンバーガーメニュー
--------------------------------------------------------------------------- */

.menu-trigger_wrap {
  float: right;
  width: 54px;
  position: absolute;
  z-index: 10;
  right: 33px;
  top: 12px;
  padding: 10px 0;
}

.menu-trigger,
.menu-trigger span {
  display: inline-block;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.menu-trigger {
  position: relative;
  width: 38px;
  height: 28px;
  z-index: 20;
  display: block;
  margin: 0 auto;
}

.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #ae1627;
  border-radius: 4px;
}

.menu-trigger span:nth-of-type(1) {
  top: 0;
}

.menu-trigger span:nth-of-type(2) {
  top: 12px;
}

.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}

.menu-trigger span:nth-of-type(1) {
  -webkit-animation: menu-bar01 0.75s forwards;
  animation: menu-bar01 0.75s forwards;
}

.menu-trigger em {
  position: absolute;
  top: 33px;
  font-size: 1.3rem;
  color: #ae1627;
  font-weight: bold;
  left: -2px;
}

@-webkit-keyframes menu-bar01 {
  0% {
    -webkit-transform: translateY(20px) rotate(45deg);
  }

  50% {
    -webkit-transform: translateY(20px) rotate(0);
  }

  100% {
    -webkit-transform: translateY(0) rotate(0);
  }
}

@keyframes menu-bar01 {
  0% {
    -webkit-transform: translateY(20px) rotate(45deg);
    transform: translateY(20px) rotate(45deg);
  }

  50% {
    -webkit-transform: translateY(20px) rotate(0);
    transform: translateY(20px) rotate(0);
  }

  100% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
  }
}

.menu-trigger span:nth-of-type(2) {
  -webkit-transition: all 0.25s 0.25s;
  transition: all 0.25s 0.25s;
  opacity: 1;
}

.menu-trigger span:nth-of-type(3) {
  -webkit-animation: menu-bar02 0.75s forwards;
  animation: menu-bar02 0.75s forwards;
}

@-webkit-keyframes menu-bar02 {
  0% {
    -webkit-transform: translateY(-20px) rotate(-45deg);
  }

  50% {
    -webkit-transform: translateY(-20px) rotate(0);
  }

  100% {
    -webkit-transform: translateY(0) rotate(0);
  }
}

@keyframes menu-bar02 {
  0% {
    -webkit-transform: translateY(-20px) rotate(-45deg);
    transform: translateY(-20px) rotate(-45deg);
  }

  50% {
    -webkit-transform: translateY(-20px) rotate(0);
    transform: translateY(-20px) rotate(0);
  }

  100% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
  }
}

.active .menu-trigger span:nth-of-type(1) {
  -webkit-animation: active-menu-bar01 0.75s forwards;
  animation: active-menu-bar01 0.75s forwards;
  top: -7px;
}

@-webkit-keyframes active-menu-bar01 {
  0% {
    -webkit-transform: translateY(0) rotate(0);
  }

  50% {
    -webkit-transform: translateY(20px) rotate(0);
  }

  100% {
    -webkit-transform: translateY(20px) rotate(45deg);
  }
}

@keyframes active-menu-bar01 {
  0% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
  }

  50% {
    -webkit-transform: translateY(20px) rotate(0);
    transform: translateY(20px) rotate(0);
  }

  100% {
    -webkit-transform: translateY(20px) rotate(45deg);
    transform: translateY(20px) rotate(45deg);
  }
}

.active .menu-trigger span:nth-of-type(2) {
  opacity: 0;
}

.active .menu-trigger span:nth-of-type(3) {
  -webkit-animation: active-menu-bar03 0.75s forwards;
  animation: active-menu-bar03 0.75s forwards;
  bottom: -9px;
}

@-webkit-keyframes active-menu-bar03 {
  0% {
    -webkit-transform: translateY(0) rotate(0);
  }

  50% {
    -webkit-transform: translateY(-20px) rotate(0);
  }

  100% {
    -webkit-transform: translateY(-20px) rotate(-45deg);
  }
}

@keyframes active-menu-bar03 {
  0% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
  }

  50% {
    -webkit-transform: translateY(-20px) rotate(0);
    transform: translateY(-20px) rotate(0);
  }

  100% {
    -webkit-transform: translateY(-20px) rotate(-45deg);
    transform: translateY(-20px) rotate(-45deg);
  }
}


/* ---------------------------------------------------------------------------
  ★グローバルナビゲーション
--------------------------------------------------------------------------- */

.nav_wrp {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
  display: none;
}

.nav_wrp.changed {
  display: block;
}

.nav_site {
  top: 0;
  right: -100%;
  width: 100%;
  max-width: 240px;
  height: 100%;
  padding: 100px 30px 50px;
  position: fixed;
  opacity: 0;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  -webkit-transition-timing-function: cubic-bezier(0.96, -0.01, 0.08, 1);
  transition-timing-function: cubic-bezier(0.96, -0.01, 0.08, 1);
  background: rgba(0, 0, 0, 0.8);
  overflow-y: auto;
  z-index: 1;
}

.nav_site.active {
  opacity: 1;
  top: 0;
  right: 0;
}


/* ---------------------------------------------------------------------------
  ★TOTOP
--------------------------------------------------------------------------- */

#totop {
  width: 60px;
  height: 60px;
  background: rgba(0, 0, 0, 0.5);
  display: block;
}

.totop_wrap {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 2;
  display: none;
}

.totop_wrap .icon-totop {
  display: block;
  width: 100%;
  text-align: center;
}

.totop_wrap .icon-totop::before {
  font-size: 5rem;
  content: "";
  width: 15px;
  height: 15px;
  border-top: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  margin: auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%) rotate(-45deg);
  transform: translateY(-50%) translateX(-50%) rotate(-45deg);
}

#totop span {
  display: none;
}


/* =======================================
	★ページャー
========================================== */

.pager {
  width: auto;
  margin: 0 auto;
  padding-bottom: 100px;
}

.wp-pagenavi {
  clear: both;
  font-size: 14px;
  text-align: center;
}

.wp-pagenavi a,
.wp-pagenavi span {
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 2.6;
  border: 1px solid #000000;
  -webkit-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
  color: #000000;
  font-size: 14px;
  margin: 5px;
  vertical-align: top;
  padding: 0px;
  background-color: #fff;
  border-radius: 4px;
}

.wp-pagenavi span.extend {
  border: 1px solid rgba(245, 245, 245, 0);
}

.wp-pagenavi span.current {
  color: #fff;
  background-color: #000000;
  font-size: 14px;
  vertical-align: top;
  text-decoration: none;
}

.c_Tit02_03 {
  font-size: 2.2rem;
}

.c_Tit02_10 {
  font-size: 2.2rem;
  line-height: 1.4;
}

.inner_1200 .inner_600,
.inner_1200 .inner_1000 {
  width: 100%;
}

.inner_800,
.inner_1000,
.inner_1200 {
  width: 88%;
}

header {
  height: 80px;
  position: fixed;
  top: 0;
  width: 100%;
  /* background: #ffffff; */
  z-index: 10;
}

header .wrapper {
  display: none;
}

header .logo-wrap {
  margin-top: -10px;
  margin-left: 10px;
}

header .logo-wrap img {
  height: 80px;
}

.header-sp {
  background-color: rgba(1, 65, 144, 0.9);
  display: none;
  text-align: center;
}

.header-sp .menu ul li {
  padding-top: 15px;
}

.header-sp .menu ul li:nth-child(9) {
  padding-bottom: 15px;
}

.header-sp .menu ul li a {
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 15px;
}

.header-sp .menu ul li.active a {
  color: #0094e6;
}

.header-sp.active {
  display: block;
  position: fixed;
  top: 80px;
  width: 100%;
  z-index: 10;
  height: 50vh;
  overflow-y: auto;
}

.header-sp .info-left {
  padding-bottom: 30px;
}

.header-sp .info-left p {
  color: #ffffff;
  font-size: 1.4rem;
  margin-bottom: -10px;
}

.header-sp .info-left a {
  color: #ffffff;
  font-size: 3.2rem;
  font-weight: 500;
  margin-top: -30px;
}

.hamburger-container {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  flex: 1;
  text-align: right;
  /* background-color: #ffffff; */
  border-bottom: rgba(255, 255, 255, 0.25) 1px solid;
}

.hamburger {
  width: 80px;
  height: 79px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 20px;
  overflow: visible;
}

.hamburger.active .hamburger-inner {
  background-color: #ffffff;
}

.hamburger.active .hamburger-inner::before,
.hamburger.active .hamburger-inner::after {
  background-color: #ffffff;
}

.hamburger img {
  display: block;
}

.hamburger-box {
  width: 27px;
  height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: 6.5px;
}

.hamburger-inner {
  display: block;
  top: 50%;
  width: 27px;
  height: 3px;
  background-color: #ffffff;
  border-radius: 3px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  width: 27px;
  height: 3px;
  background-color: #ffffff;
  border-radius: 3px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-elastic .hamburger-inner {
  top: 0px;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger-elastic .hamburger-inner::before {
  top: 8px;
  transition: opacity 0.15s 0.25s ease;
}

.hamburger-elastic .hamburger-inner::after {
  top: 16px;
  transition: transform 0.25s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger-elastic.active .hamburger-inner {
  transform: translate3d(0, 8px, 0) rotate(135deg);
  transition-delay: 0.1s;
}

.hamburger-elastic.active .hamburger-inner::before {
  transition-delay: 0s;
  opacity: 0;
}

.hamburger-elastic.active .hamburger-inner::after {
  transform: translate3d(0, -16px, 0) rotate(-270deg);
  transition-delay: 0.1s;
}

.slider {
  height: 692px;
}

.slider .inner_600 {
  margin: auto;
  padding: 0 !important;
}

.slider h2 {
  padding-left: 0 !important;
  font-size: 2.2rem;
  background: #ffffff;
  text-align: center;
  padding: 10px 0;
}

.slider h2 small {
  font-size: 2rem;
}

.slider span {
  margin-right: 0;
  font-size: 2rem;
}

.slider .circles {
  display: flex;
  justify-content: space-evenly;
  padding-top: 30px;
}

.slider .row {
  display: block;
  margin: 0 !important;
}

.slider .row p {
  margin: 10px !important;
  width: 120px;
  height: 120px;
  font-size: 1.4rem;
}

.hero-title {
  height: 250px;
}

.hero-title h2 {
  font-size: 3.2rem;
}

.news .news_body {
  padding: 0px !important;
}

.about .row {
  align-items: center;
  flex-direction: column;
}

.about .left-wrapper,
.about .right-wrapper {
  width: 100%;
}

.about .mT125.mL35 {
  margin: 0 !important;
  margin-top: 25px !important;
}

.service .row {
  flex-direction: column;
  margin: 0;
  padding-top: 0 !important;
}

.service .item {
  margin: 20px auto !important;
}

.two-buttons {
  background-size: cover;
}

.two-buttons .inner_1000 {
  flex-direction: column;
}

.two-buttons a {
  margin: 10px 0;
}

.sdgs p {
  top: 0;
  left: 50%;
  font-size: 1.8rem;
  transform: translateX(-50%);
}

.sdgs span {
  font-size: 2rem;
}

.contact .img-contact {
  display: none;
}

.contact .row {
  flex-direction: column;
}

.contact .row a {
  margin: 10px 0;
}

.contact .inner_500,
.contact .inner_1000 {
  margin: auto;
}

.contact p,
.contact .c_btn01,
.contact .btn_wrap.row {
  margin: 0;
}

.contact p {
  font-size: 1.8rem;
}

.contact a {
  font-size: 1.8rem;
}

.contact .row a {
  text-align: center;
}

footer h2 {
  margin-left: 0;
}

footer p {
  margin-left: 0;
}

footer p.text {
  border-radius: 0;
  margin: 0;
  padding: 23px;
  line-height: 1.4;
}

footer .row {
  flex-direction: column;
}

footer a.row {
  align-items: center;
  flex-direction: row;
}

footer a.big {
  padding-top: 20px !important;
}

footer a.big,
footer a.small {
  font-size: 2rem;
  padding: 10px 0;
  margin: 0px !important;
}

footer ul li {
  padding: 14px 33px 14px 0;
}

footer ul li a {
  margin-left: 0;
}

footer ul li:nth-child(1) {
  padding-top: 14px;
}

.c_faq_box_01 .sToggle dl dt {
  font-size: 1.6rem;
}